
.vs/Open-Bank/v16/.suo
.vs/OpenBank/config/applicationhost.config
.vs/OpenBank/DesignTimeBuild/.dtbcache
.vs/OpenBank/v16/.suo
.vs/OpenBank/v16/Server/sqlite3/db.lock
.vs/OpenBank/v16/Server/sqlite3/storage.ide
.vs/OpenBank/v16/Server/sqlite3/storage.ide-shm
.vs/OpenBank/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
